<h1>Welcome to the Home Component {{userFirstName + " " + userLastName}}</h1>
<h2>Employee Name is {{employeeDetails.name}}</h2>
<h2>This is Other Header {{ 1 + 1 }}</h2>
<h3>This is Extra Header</h3>
<h4>This is one Other Thing</h4>
<section>
    <label>Hello World... How are you? I hope you are doing Great {{ 100 / 10 }}</label>
</section>

<h6>This is the age: {{ userAge + 10 }}</h6>
<h5>Employee Salary is  {{ salaryArray[4] }}</h5>

<p>This is Extra Paragraph</p>
<b>This is My Updated Code....</b><hr/>