<h1>Enter User Details...</h1>

Age: <input type="text" [ngModel]="empAge" placeholder="Enter Age of Employee" /><br/><br/>
Name: <input type="text" [ngModel]="empName" placeholder="Enter Age of Employee" /><br/><br/>
Salary: <input type="text" [ngModel]="empSalary" placeholder="Enter Age of Employee" /><br/><br/>
Designation: <input type="text" [ngModel]="empDesignation" placeholder="Enter Age of Employee" /><br/><br/>
City: <input type="text" [ngModel]="empCity" placeholder="Enter Age of Employee" /><br/><br/>
Country: <input type="text" [ngModel]="empCountry" placeholder="Enter Age of Employee" /><br/><br/><hr/>


<h1>Employee Details</h1>

Age: {{empAge}}<br/><br/>
Name: {{empName}}<br/><br/>
Salary: {{empSalary}}<br/><br/>
Designation: {{empDesignation}}<br/><br/>
City: {{empCity}}<br/><br/>
Country: {{empCountry}}<br/><br/>